{% extends 'base.html' %}
{% block title %}
	Stock
{% endblock %}
{% block content %}
	<div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-warning py-2">
                                <div class="card-body">
                                    <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Parle G 50 gm</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>2500</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-warning py-2">
                                <div class="card-body">
                                    <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Parle G 50 gm</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>2500</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-warning py-2">
                                <div class="card-body">
                                    <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Parle G 50 gm</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>2500</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-warning py-2">
                                <div class="card-body">
                                    <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Parle G 50 gm</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>2500</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}