{% extends 'base.html' %}

{% block title %}
    {{ product.product_name }}
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show">
                {{ message }}
            </div>
        {% endfor %}
        <script>
            setTimeout(function() {
                bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
            }, 2500)
        </script>
    {% endif %}
    <div class="container-fluid">
        <!-- Start: Product Details Card -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary m-0 fw-bold">{{ product.product_name }}<span
                        class="float-end">Code - {{ product.box_no }}</span></h6>
            </div>
            <div class="card-body">
                <!-- Start: Product Primary Details -->
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Material Code</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ product.material_code }}</span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Size</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ product.size }}</span></div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1">
                                    <span>ID</span></div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span>{{ product.inner_length }} x {{ product.inner_breadth }} x {{ product.inner_depth }}</span>
                                </div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1">
                                    <span>OD</span></div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span>{{ product.outer_length }} x {{ product.outer_breadth }} x {{ product.outer_depth }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Color</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ product.color }}</span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Weight</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ product.weight }}</span></div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Ply</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ product.ply }}</span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>CS</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ product.cs }}</span></div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>GSM</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ product.gsm }}</span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>BF</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ product.bf }}</span></div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateProductModal">
                                Update Product
                            </button>
                            <button class="btn btn-danger" onclick="openDeleteModal()">Delete Product</button>
                        </div>
                    </div>
                </div><!-- End: Product Primary Details -->
            </div>
        </div><!-- End: Product Details Card -->
        <hr>
        <!-- Start: Partitions Details Card -->
        {% for partition in partitions %}
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary m-0 fw-bold">Partition - {{ partition.partition_type }}</h6>
                </div>
                <div class="card-body">
                    <div class="card shadow border-start-primary py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1">
                                        <span>Partition Size</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{ partition.partition_size }}</span>
                                    </div>
                                </div>
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1">
                                        <span>Partition OD</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{ partition.partition_od }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1">
                                        <span>Deckle Cut</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{ partition.deckle_cut }}</span></div>
                                </div>
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1">
                                        <span>Length Cut</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{ partition.length_cut }}</span></div>
                                </div>
                            </div>
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Ply No.</span>
                                    </div>
                                    <div class="text-dark fw-bold h5 mb-0">
                                        <span>{{ partition.get_ply_no_display }}</span></div>
                                </div>
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1">
                                        <span>Partition Weight</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{ partition.partition_weight }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>GSM</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{ partition.gsm }}</span></div>
                                </div>
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>BF</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{ partition.bf }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End: Partitions Details Card -->
        {% endfor %}
        <!-- Update Product Modal -->
        <div class="modal fade" id="updateProductModal" tabindex="-1" aria-labelledby="updateProductModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateProductModalLabel">Update Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-4">
                        <form method="post" action="{% url 'Corrugation:update_products' product.pk %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="product_name" class="form-label fw-bold">Product Name</label>
                                <input type="text" class="form-control" id="product_name" name="product_name"
                                       value="{{ product.product_name }}">
                            </div>
                            <div class="mb-3">
                                <label for="box_no" class="form-label fw-bold">Box No</label>
                                <input type="text" class="form-control" id="box_no" name="box_no"
                                       value="{{ product.box_no }}">
                            </div>
                            <div class="mb-3">
                                <label for="material_code" class="form-label fw-bold">Material Code</label>
                                <input type="text" class="form-control" id="material_code" name="material_code"
                                       value="{{ product.material_code }}">
                            </div>
                            <div class="mb-3">
                                <label for="size" class="form-label fw-bold">Size</label>
                                <input type="text" class="form-control" id="size" name="size"
                                       value="{{ product.size }}">
                            </div>
                            <div class="mb-3">
                                <label for="inner_length" class="form-label fw-bold">Inner Length</label>
                                <input type="text" class="form-control" id="inner_length" name="inner_length"
                                       value="{{ product.inner_length }}">
                            </div>
                            <div class="mb-3">
                                <label for="inner_breadth" class="form-label fw-bold">Inner Breadth</label>
                                <input type="text" class="form-control" id="inner_breadth" name="inner_breadth"
                                       value="{{ product.inner_breadth }}">
                            </div>
                            <div class="mb-3">
                                <label for="inner_depth" class="form-label fw-bold">Inner Depth</label>
                                <input type="text" class="form-control" id="inner_depth" name="inner_depth"
                                       value="{{ product.inner_depth }}">
                            </div>
                            <div class="mb-3">
                                <label for="outer_length" class="form-label fw-bold">Outer Length</label>
                                <input type="text" class="form-control" id="outer_length" name="outer_length"
                                       value="{{ product.outer_length }}">
                            </div>
                            <div class="mb-3">
                                <label for="outer_breadth" class="form-label fw-bold">Outer Breadth</label>
                                <input type="text" class="form-control" id="outer_breadth" name="outer_breadth"
                                       value="{{ product.outer_breadth }}">
                            </div>
                            <div class="mb-3">
                                <label for="outer_depth" class="form-label fw-bold">Outer Depth</label>
                                <input type="text" class="form-control" id="outer_depth" name="outer_depth"
                                       value="{{ product.outer_depth }}">
                            </div>
                            <div class="mb-3">
                                <label for="color" class="form-label fw-bold">Color</label>
                                <input type="text" class="form-control" id="color" name="color"
                                       value="{{ product.color }}">
                            </div>
                            <div class="mb-3">
                                <label for="weight" class="form-label fw-bold">Weight</label>
                                <input type="text" class="form-control" id="weight" name="weight"
                                       value="{{ product.weight }}">
                            </div>
                            <div class="mb-3">
                                <label for="ply" class="form-label fw-bold">Ply</label>
                                <input type="text" class="form-control" id="ply" name="ply" value="{{ product.ply }}">
                            </div>
                            <div class="mb-3">
                                <label for="cs" class="form-label fw-bold">CS</label>
                                <input type="text" class="form-control" id="cs" name="cs" value="{{ product.cs }}">
                            </div>
                            <div class="mb-3">
                                <label for="gsm" class="form-label fw-bold">GSM</label>
                                <input type="text" class="form-control" id="gsm" name="gsm" value="{{ product.gsm }}">
                            </div>
                            <div class="mb-3">
                                <label for="bf" class="form-label fw-bold">BF</label>
                                <input type="text" class="form-control" id="bf" name="bf" value="{{ product.bf }}">
                            </div>
                            <!-- Partitions -->
                            <h5>Partitions</h5>
                            <div id="partitions">
                                {% for partition in partitions %}
                                    <div class="mb-3 partition">
                                        <label for="partition_{{ forloop.counter }}_type" class="form-label fw-bold">Partition
                                            Type</label>
                                        <input type="text" class="form-control"
                                               id="partition_{{ forloop.counter }}_type"
                                               name="partitions[{{ forloop.counter }}][type]"
                                               value="{{ partition.partition_type }}">
                                    </div>
                                    <div class="mb-3 partition">
                                        <label for="partition_{{ forloop.counter }}_size" class="form-label fw-bold">Partition
                                            Size</label>
                                        <input type="text" class="form-control"
                                               id="partition_{{ forloop.counter }}_size"
                                               name="partitions[{{ forloop.counter }}][size]"
                                               value="{{ partition.partition_size }}">
                                    </div>
                                    <div class="mb-3 partition">
                                        <label for="partition_{{ forloop.counter }}_od" class="form-label fw-bold">Partition
                                            OD</label>
                                        <input type="text" class="form-control" id="partition_{{ forloop.counter }}_od"
                                               name="partitions[{{ forloop.counter }}][od]"
                                               value="{{ partition.partition_od }}">
                                    </div>
                                    <div class="mb-3 partition">
                                        <label for="partition_{{ forloop.counter }}_deckle_cut"
                                               class="form-label fw-bold">Deckle Cut</label>
                                        <input type="text" class="form-control"
                                               id="partition_{{ forloop.counter }}_deckle_cut"
                                               name="partitions[{{ forloop.counter }}][deckle_cut]"
                                               value="{{ partition.deckle_cut }}">
                                    </div>
                                    <div class="mb-3 partition">
                                        <label for="partition_{{ forloop.counter }}_length_cut"
                                               class="form-label fw-bold">Length Cut</label>
                                        <input type="text" class="form-control"
                                               id="partition_{{ forloop.counter }}_length_cut"
                                               name="partitions[{{ forloop.counter }}][length_cut]"
                                               value="{{ partition.length_cut }}">
                                    </div>
                                    <div class="mb-3 partition">
                                        <label for="partition_{{ forloop.counter }}_ply_no" class="form-label fw-bold">Ply
                                            No.</label>
                                        <select class="form-select" id="partition_{{ forloop.counter }}_ply_no"
                                                name="partitions[{{ forloop.counter }}][ply_no]">
                                            <option value="1" {% if partition.ply_no == 1 %}selected{% endif %}>1
                                            </option>
                                            <option value="2" {% if partition.ply_no == 2 %}selected{% endif %}>2
                                            </option>
                                            <option value="3" {% if partition.ply_no == 3 %}selected{% endif %}>3
                                            </option>
                                            <option value="4" {% if partition.ply_no == 4 %}selected{% endif %}>4
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3 partition">
                                        <label for="partition_{{ forloop.counter }}_weight" class="form-label fw-bold">Partition
                                            Weight</label>
                                        <input type="text" class="form-control"
                                               id="partition_{{ forloop.counter }}_weight"
                                               name="partitions[{{ forloop.counter }}][weight]"
                                               value="{{ partition.partition_weight }}">
                                    </div>
                                    <div class="mb-3 partition">
                                        <label for="partition_{{ forloop.counter }}_gsm"
                                               class="form-label fw-bold">GSM</label>
                                        <input type="text" class="form-control" id="partition_{{ forloop.counter }}_gsm"
                                               name="partitions[{{ forloop.counter }}][gsm]"
                                               value="{{ partition.gsm }}">
                                    </div>
                                    <div class="mb-3 partition">
                                        <label for="partition_{{ forloop.counter }}_bf"
                                               class="form-label fw-bold">BF</label>
                                        <input type="text" class="form-control" id="partition_{{ forloop.counter }}_bf"
                                               name="partitions[{{ forloop.counter }}][bf]" value="{{ partition.bf }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Product Modal -->
        <div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteProductModalLabel">Delete Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this product?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form id="deleteProductForm" method="post"
                              action="{% url 'Corrugation:delete_products' product.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function openDeleteModal() {
            var deleteProductModal = new bootstrap.Modal(document.getElementById('deleteProductModal'), {
                keyboard: false
            });
            deleteProductModal.show();
        }
    </script>
{% endblock %}
