{% extends 'base.html' %}

{% block title %}
    Program Archive
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show">
                {{ message }}
            </div>
        {% endfor %}
        <script>
            setTimeout(function() {
                bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
            }, 2500)
        </script>
    {% endif %}
    {% for program in programs %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="text-primary m-0 fw-bold">
                        Product name - {{ program.product_name }}
                    </h5>
                    <div class="flex-grow-1 text-center">
                        <h5 class="text-secondary">Quantity - {{ program.program_quantity }}</h5>
                    </div>
                    <h5 class="m-0 fw-bold">
                        <span>{{ program.program_date }}</span>
                    </h5>
                </div>
            </div>
            <div class="card-body">
                <!-- Edit and Delete Buttons -->
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editProgramModal"
                        data-id="{{ program.id }}" data-product_name="{{ program.product_name }}"
                        data-program_quantity="{{ program.program_quantity }}"
                        data-program_date="{{ program.program_date }}" data-program_notes="{{ program.program_notes }}">
                    Edit
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteProgramModal"
                        data-id="{{ program.id }}">
                    Delete
                </button>
                <!-- Start: Card Primary -->
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Size</span></div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span>{{ program.size }}</span>
                                </div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Code</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ program.box_no }}</span></div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>OD</span></div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span>{{ program.outer_length }} X {{ program.outer_breadth }} X {{ program.outer_depth }}</span>
                                </div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>GSM</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ program.gsm }}/{{ program.bf }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span
                                        class="text-primary">Colour</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ program.color }}</span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span
                                        class="text-primary">Weight</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>{{ program.weight }}</span></div>
                            </div>
                        </div>
                    </div>
                </div><!-- End: Card Primary -->

                <!-- Start: Basic Card -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary m-0 fw-bold">Note:</h6>
                    </div>
                    <div class="card-body">
                        <p class="m-0">{{ program.program_notes }}</p>
                    </div>
                </div><!-- End: Basic Card -->

                <!-- Start: Card Primary -->
                <div class="card shadow border-start-primary py-2">
                    <div class="card-header py-3">
                        <h6 class="text-primary m-0 fw-bold">Partitions</h6>
                    </div>
                    {% for partition in program.partitions %}
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Size</span>
                                    </div>
                                    <div class="text-dark fw-bold h5 mb-0">
                                        <span>{{ partition.partition_size }}</span>
                                    </div>
                                </div>
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>OD</span></div>
                                    <div class="text-dark fw-bold h5 mb-0">
                                        <span>{{ partition.partition_od }}</span></div>
                                </div>
                            </div>
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Cuts</span>
                                    </div>
                                    <div class="text-dark fw-bold h5 mb-0">
                                        <span>D - {{ partition.deckle_cut }}, L - {{ partition.length_cut }}</span>
                                    </div>
                                </div>
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Type</span>
                                    </div>
                                    <div class="text-dark fw-bold h5 mb-0">
                                        <span>{{ partition.partition_type }}</span></div>
                                </div>
                            </div>
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span
                                            class="text-primary">Ply</span></div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{ partition.ply_no }}</span>
                                    </div>
                                </div>
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span
                                            class="text-primary">Weight</span>
                                    </div>
                                    <div class="text-dark fw-bold h5 mb-0">
                                        <span>{{ partition.partition_weight }}</span></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div><!-- End: Card Primary -->
            </div>
        </div>
    {% endfor %}
{% endblock %}
