{% extends 'base.html' %}
{% block title %}
    Program
{% endblock %}

{% block content %}
    {% for program in programs %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary m-0 fw-bold">Product name - Parle G 50 gm<span
                        class="float-end">21-03-2024</span>
                </h6>
            </div>
            <div class="card-body">
                <!-- Start: Card Primary -->
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Size</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>41 X 61</span><span
                                        style="display: inline-block;position: relative;font-size: 10px;"><span
                                        class="text-center"
                                        style="display: block;border-bottom-width: 1px;border-bottom-style: solid;">3</span><span
                                        class="text-center" style="display: block;">4</span></span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Box No.</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>BH-177</span></div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>OD</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>493 X 273 X 236</span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>BOX</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>180/180/140</span></div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="text-danger">Colour</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>Dark Green</span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="text-danger">Weight</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>549 gm</span></div>
                            </div>
                        </div>
                    </div>
                </div><!-- End: Card Primary -->
                <!-- Start: Basic Card -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary m-0 fw-bold">Note:</h6>
                    </div>
                    <div class="card-body">
                        <p class="m-0">Call Upenbhai at time of printing</p>
                    </div>
                </div><!-- End: Basic Card -->
                <!-- Start: Card Primary -->
                <div class="card shadow border-start-primary py-2">
                    <div class="card-header py-3">
                        <h6 class="text-primary m-0 fw-bold">Partitions</h6>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Size</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>41 X 61</span><span
                                        style="display: inline-block;position: relative;font-size: 10px;"><span
                                        class="text-center"
                                        style="display: block;border-bottom-width: 1px;border-bottom-style: solid;">3</span><span
                                        class="text-center" style="display: block;">4</span></span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>OD</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>50 + 270 + 50 = 370 X 233/H</span></div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Cuts</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>D - 4, L - 2</span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Type</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>Vertical</span></div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span
                                        class="text-danger">Ply</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>3 ply</span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="text-danger">Weight</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>481 gm</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Size</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>41 X 61</span><span
                                        style="display: inline-block;position: relative;font-size: 10px;"><span
                                        class="text-center"
                                        style="display: block;border-bottom-width: 1px;border-bottom-style: solid;">3</span><span
                                        class="text-center" style="display: block;">4</span></span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>OD</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>50 + 270 + 50 = 370 X 233/H</span></div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Cuts</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>D - 4, L - 2</span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Type</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>Z-type</span></div>
                            </div>
                        </div>
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span
                                        class="text-danger">Ply</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span>3 ply</span></div>
                            </div>
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="text-danger">Weight</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0"><span>481 gm</span></div>
                            </div>
                        </div>
                    </div>
                </div><!-- End: Card Primary -->
            </div>
        </div>
    {% endfor %}
{% endblock %}
