{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
    Purchase Order Details Archive
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show">
                {{ message }}
            </div>
        {% endfor %}
        <script>
            setTimeout(function() {
                bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
            }, 2500)
        </script>
    {% endif %}
    <div class="container-fluid">
        <!-- Search Input Field -->
        <label for="searchInput">Search by Product Name:</label>
        <input type="text" id="searchInput" placeholder="Search by Product Name" class="form-control mb-3">

        <!-- Loop through each purchase order and display them as cards -->
        {% for purchase_order in purchase_orders %}
            <!-- Start: Basic Card -->
            <div class="card shadow mb-4" data-product-name="{{ purchase_order.product_name }}">
                <div class="card-header py-3">
                    <h6 class="text-primary m-0 fw-bold">Product name - {{ purchase_order.product_name }}<span
                            class="float-end">{{ purchase_order.po_date }}</span></h6>
                </div>
                <div class="card-body">
                    <!-- Start: Card Primary -->
                    <div class="card shadow border-start-primary py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1">
                                        <span>Material Code</span>
                                    </div>
                                    <div class="text-dark fw-bold h5 mb-0">
                                        <span>{{ purchase_order.material_code }}</span></div>
                                </div>
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Box Code</span>
                                    </div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{ purchase_order.box_no }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>PO Number</span>
                                    </div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{ purchase_order.po_number }}</span>
                                    </div>
                                </div>
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span>Rate</span>
                                    </div>
                                    <div class="text-dark fw-bold h5 mb-0"><span>{{ purchase_order.rate }}</span></div>
                                </div>
                            </div>
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span
                                            class="text-primary">PO Quantity (given)</span>
                                    </div>
                                    <div class="text-dark fw-bold h5 mb-0">
                                        <span>{{ purchase_order.po_quantity }}</span>
                                    </div>
                                </div>
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-sm mb-1"><span
                                            class="text-primary">po quantity (allowed +5%)</span>
                                    </div>
                                    <div class="text-dark fw-bold h5 mb-0">
                                        <span>{{ purchase_order.po_quantity|add_percent:5|floatformat:2 }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End: Card Primary -->
                    <!-- Start: Card Warning -->
                    <div class="card shadow border-start-warning py-2">
                        <div class="card-header py-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="text-primary m-0 fw-bold">Dispatch</h4>
                                    <h6>
                                        Remaining Quantity: {{ purchase_order.remaining_quantity }}
                                        <br>
                                        Maximum Remaining Quantity: {{ purchase_order.max_remaining_quantity }}
                                    </h6>
                                </div>
                                <div class="col-auto">
                                    <form method="POST"
                                          action="{% url 'Corrugation:restore_purchase_order' purchase_order.pk %}"
                                          id="close-po-form">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success btn-icon-split">
                                        <span class="text-white-50 icon">
                                            <i class="fas fa-trash-restore"></i>
                                        </span>
                                            <span class="text-white text">Restore this PO</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% for dispatch in purchase_order.dispatches %}
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="text-dark fw-bold h5 mb-0">
                                            <span>{{ dispatch.dispatch_quantity }}</span>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <span>{{ dispatch.dispatch_date }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div><!-- End: Card Warning -->
                </div>
            </div><!-- End: Basic Card -->
        {% endfor %}
    </div>
{% endblock %}
